---
import Header from "../components/Header.astro";
import Splash from "../components/Splash.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Tabelfilter from "../components/Tabelfilter.astro";
import Test from "./test.astro";
import Guidecard from "../components/Guidecard.astro";

const { skjultehold, filterObjects } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="stylesheet"
      href="https://use.typekit.net/lhr7bio.css"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>FormFysik</title>
  </head>
  <body class="body-bg">
    <Header />

    <!-- Information -->
    <section class="content">
      <h2>Holdbooking</h2>
      <h3>Det skal du vide</h3>
      <div class="info">
        <p class="bread">
          Kom i god tid - og gerne 10
          minutter før holdstart
        </p>
        <p class="bread">
          5 min. før holdstart bliver de
          ikke-fremødte på holdet taget
          af, og de som står på
          ventelisten får en plads i
          stedet.
        </p>
        <p class="bread">
          Husk at afmelde senest 2 timer
          før holdstart, hvis du er
          forhindret i at møde op
          Manglende fremmøde koster
          30kr.
        </p>
      </div>
    </section>

    <!---------------- Filtrering -------->
    <Tabelfilter />
    <!-- <Test /> -->

    <!-- DOWNLOAD CONTENT -->
    <section class="download_content">
      <h3>
        Download Vores App “My Eclub”
        til din telefon eller tablet
      </h3>
      <p class="bread">
        Her får du mulighed for at
        til-/afmelde dig dit hold samt
        se dine fremtidige bookinger.
      </p>
      <ul>
        <li class="bread">
          Første gang du logger ind,
          skal du vælge dit foretrukne
          træningscenter og så du klar
          til at tilmelde dig et hold!
        </li>
      </ul>
      <p class="bread">
        Hent til <a href="">IOS</a>
        <br /> Hent til <a href=""
          >Android</a
        >
      </p>
    </section>

    <section class="appguide">
      <h2>
        Vejledning til tilmedling og
        venteliste i appen
      </h2>
      <div class="cards">
        <Guidecard
          step="1"
          beskrivelse="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "
        />
        <Guidecard
          step="2"
          beskrivelse="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "
        />
        <Guidecard
          step="3"
          beskrivelse="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "
        />
        <Guidecard
          step="4"
          beskrivelse="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "
        />
      </div>
    </section>
    <Footer />
  </body>
</html>

<style>
  .appguide h2 {
    color: var(--color-tabel-text);
  }
  .appguide {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(
      --color-bread-text
    );
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
  .cards {
    display: flex;
    gap: 3rem;
  }
  h2 {
    color: var(--color-bread-text);
    margin-bottom: 2rem;
  }
  h3 {
    color: var(--color-bread-text);
    margin-bottom: 1rem;
  }
  p {
    color: var(--color-bread-text);
    margin: 0;
  }
  a {
    text-decoration: none;
  }

  /* -------------------------------- TABEL --------------------------------- */

  /* ------------------------ download sektion----------------------- */

  .download_content {
    padding-left: 15rem;
    padding-right: 15rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
  }

  .download_content li {
    color: var(--color-bread-text);
  }

  .download_content a {
    text-decoration: underline;
  }
  .content {
    padding-left: 15rem;
    padding-right: 15rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
  }
</style>

<script>
  function filterObjects(c) {
    var x, i;
    x =
      document.getElementsByClassName(
        "kort"
      );
    if (c == "alle") c = "";
    for (i = 0; i < x.lenght; i++) {
      removeClass(x[i], "show");
      if (
        x[i].className.indexOf(c) > -1
      )
        addClass(x[i], "show");
    }
  }

  function addClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = element.name.split(" ");
    for (i = 0; i < arr2.lenght; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {
        element.className +=
          " " + arr2[i];
      }
    }
  }

  function removeClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = element.name.split(" ");
    for (i = 0; i < arr2.lenght; i++) {
      while (
        arr1.indexOf(arr2[i]) > -1
      ) {
        arr1.splice(
          arr1.indexOf(arr2[i]),
          1
        );
      }
    }
    element.className = arr1.join(" ");
  }
</script>
