---
import Header from "../components/Header.astro";
import Splash from "../components/Splash.astro";
import Footer from "../components/Footer.astro";
import Kategori from "../components/Kategori.astro";
import "../styles/global.css";
import Stepbystepland from "../components/Stepbystepland.astro";
import Cookiebox from "../components/Cookiebox.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="stylesheet"
      href="https://use.typekit.net/lhr7bio.css"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="description"
      content="Kom igang med træningen i dag og træn i alle vores centre"
    />
    <title>FormFysik</title>
  </head>
  <body class="body-bg">
    <Header />
    <Splash />

    <Cookiebox />
    <div class="values">
      <!-- Første boks -->
      <div class="infovalues info1">
        <div class="valuetitel">
          <h1>319</h1>
          <p class="value-text">kr.</p>
        </div>
        <p class="bread">
          pr. måned. alt inklusiv
        </p>
      </div>

      <!-- Anden boks -->
      <div class="infovalues info2">
        <div class="valuetitel">
          <h1>3</h1>
          <p class="value-text">
            Fitnesscentre
          </p>
        </div>
        <p class="bread">
          træn i alle centre
        </p>
      </div>

      <!-- Trejde boks -->
      <div class="infovalues info3">
        <div class="valuetitel">
          <h1>9</h1>
          <p class="value-text">
            Fysioterapeuter
          </p>
        </div>
        <p class="bread">
          og over 20 fys-studerende
        </p>
      </div>
    </div>
    <section class="kategorier">
      <Kategori
        titel="holdtyper"
        beskrivelse="Vi har samlet 75 hold et sted, se hvilke hold som bedst passer til dig."
        src="/img/Dance1.png"
      />
      <Kategori
        titel="Personlig træning"
        beskrivelse="Vi ved at det kan være svært at komme igang, derfor har vi et hold af professionelle trænere, som står klar til at sætte dig igang med en træningsplad "
        src="/img/Senior1.png"
      />
    </section>

    <Stepbystepland
      step1="Klik Bliv medlem"
      step2="Udfyld dine oplysninger"
      step3="Træn frit i alle vores centre"
    />
    <Footer />
  </body>

  <style>
    /* INFOGRAFIK */

    .values {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .infovalues {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      color: var(
        --color-footer-background
      );
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .valuetitel {
      display: flex;
      align-items: baseline;
      gap: 0.7rem;
    }

    .valuetitel h1,
    h3,
    p {
      margin: 0;
    }

    .info1 {
      background-color: var(
        --color-info-boxone
      );
    }

    .info2 {
      background-color: var(
        --color-info-boxtwo
      );
    }
    .info3 {
      background-color: var(
        --color-info-boxthree
      );
    }

    /*  KATEGORIER */

    .kategorier {
      background-color: var(
        --color-off-white
      );
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    @media (min-width: 900px) {
      .values {
        display: grid;
      }

      .kategorier {
        display: flex;
        flex-direction: row;
      }
    }
  </style>
</html>

<script
  src="/script/login.js"
  type="module"
></script>
