---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Btnsek from "../components/Btnsek.astro";
import Faq from "../components/Faq.astro";
import Fysioterapeutslider from "../components/Fysioterapeutslider.astro";
import Teamscroll from "../components/Teamscroll.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="stylesheet"
      href="https://use.typekit.net/lhr7bio.css"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Om os</title>
  </head>
  <body class="body-bg">
    <Header />
    <section class="splash">
      <div class="content">
        <h1>MØD TEAMET</h1>
        <h3>
          Lad os hjælpe dig med en mere
          effektiv træning. <br /> Vi er
          et dynamisk team, som er specialister
          i at undersøge og behandle ryg-
          og nakkeproblemer samt genoptræning
          af idrætsskader. <br /> Vi er her
          for at hjælpe dig - professinelt
          og med et fagligt højt niveau.
        </h3>

        <a href="#fysioterapeuter">
          <Btnsek
            content="Se fysioterapeuter"
          />
        </a>
      </div>

      <Teamscroll />
    </section>

    <!-- FYSIOTERAPEUTER -->
    <section id="fysioterapeuter">
      <Fysioterapeutslider />
    </section>
    <div id="faq">
      <Faq />
    </div>
    <Footer />
  </body>
</html>

<style>
  .splash {
    display: flex;
  }

  .content {
    width: 45rem;
    padding-left: 7rem;
    padding-top: 10rem;
    padding-bottom: 6rem;
    color: var(--color-bread-text);
  }

  .splash img {
    position: absolute;
    /* width: 50rem; */

    top: 15%;
    left: 43.8%;
    z-index: -1;
  }
</style>
