---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="stylesheet"
      href="https://use.typekit.net/lhr7bio.css"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>FormFysik</title>
  </head>
  <body class="body-bg">
    <Header />
    <section>
      <h2>Sitemap</h2>
      <hr />
      <div class="content_wrapper">
        <!-- fitness -->
        <div class="content">
          <a href="/holdtype">
            <h3>Fitness</h3>
          </a>
          <ul>
            <a href="/holdbooking">
              <li class="bread">
                Holdbooking
              </li>
            </a>
            <a href="/holdtype">
              <li class="bread">
                Holdtype
              </li>
            </a>
            <a
              href="/personligtraening"
            >
              <li class="bread">
                Personlig træning
              </li>
            </a>
            <a href="/hjemmevideo">
              <li class="bread">
                Hjemmetræning
              </li>
            </a>
          </ul>
        </div>
        <!-- fysioterapi -->
        <div class="content">
          <div>
            <h3>Fysioterapi</h3>
          </div>
        </div>

        <!-- om os -->
        <div class="content">
          <a href="/omos"
            ><h3>Om os</h3>
          </a>
          <ul>
            <a href="/omos">
              <li class="bread">
                Mød Teamet
              </li>
            </a>
            <a href="/lokationer">
              <li class="bread">
                Lokationer
              </li>
            </a>
            <a href="/kontakt">
              <li class="bread">
                Kontakt
              </li>
            </a>
          </ul>
        </div>
        <!-- hjælp -->
        <div class="content">
          <h3>Hjælp</h3>
          <ul>
            <a href="/lokationer">
              <li class="bread">
                Lokationer
              </li>
            </a>
            <a href="/omos"
              ><li class="bread">
                Hvem er vi
              </li>
            </a>
            <a href="/omos#faq"
              ><li class="bread">
                Om os
              </li>
            </a>
            <a href="">
              <li class="bread">
                Privatlivspolitik
              </li>
            </a>
            <a href="/sitemap">
              <li class="bread">
                Sitemap
              </li>
            </a>
          </ul>
        </div>
      </div>
    </section>
  </body>

  <Footer />
</html>

<style>
  hr {
    border: solid 0.5px;
    border-color: var(
      --color-bread-text
    );
    width: 150vh;
  }

  section {
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding-left: 12rem;
    padding-right: 12rem;
    display: grid;
    gap: 2rem;
  }
  .content_wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  .content {
  }

  h2,
  h3,
  li {
    color: var(--color-bread-text);
    list-style: none;
    margin: 0;
    text-decoration: none;
  }

  ul,
  a {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
