---
import Header from "../components/Header.astro";
import Splash from "../components/Splash.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Tabelfilter from "../components/Tabelfilter.astro";
import Test from "../components/Test.astro";
import Teamscroll from "../components/Teamscroll.astro";

const { skjultehold, filterObjects } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="stylesheet"
      href="https://use.typekit.net/lhr7bio.css"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>FormFysik</title>
  </head>
  <body class="body-bg">
    <Header />
    <Teamscroll />
    <Footer />
  </body>
</html>
