---
import "../styles/global.css";
---

<div class="faqs-container">
  <h2>Ofte stillede spørgsmål</h2>

  <div class="questions-container">
    <div class="content-container">
      <div class="faq-header">
        <p class="cardtitel">
          Er fagligheden høj, selvom det
          er studerende?
        </p>
        <span class="open active"
          >∨</span
        >
        <span class="close">^</span>
      </div>

      <div class="content bread">
        <p>
          Lorem ipsum dolor sit amet
          consectetur adipisicing elit.
          Eveniet, veniam!
        </p>

        <p>
          Lorem ipsum dolor sit amet
          consectetur adipisicing elit.
          Ipsa voluptatem voluptatibus
          temporibus nemo amet tempore
          aperiam pariatur laboriosam
          qui vel!
        </p>
      </div>
    </div>

    <div class="content-container">
      <div class="faq-header">
        <p class="cardtitel">
          Kan jeg selv vælge min
          fysioterapeut?
        </p>
        <span class="open active"
          >∨</span
        >
        <span class="close">^</span>
      </div>

      <div class="content bread">
        <p>
          Lorem ipsum dolor sit amet
          consectetur adipisicing elit.
          Ipsa voluptatem voluptatibus
          temporibus nemo amet tempore
          aperiam pariatur laboriosam
          qui vel!
        </p>
      </div>
    </div>

    <div class="content-container">
      <div class="faq-header">
        <p class="cardtitel">
          Hvordan opsiger jeg mit
          medlemsskab?
        </p>
        <span class="open active"
          >∨</span
        >
        <span class="close">^</span>
      </div>

      <div class="bread content">
        <p>
          Lorem ipsum dolor sit amet
          consectetur adipisicing elit.
          Eveniet, veniam!
        </p>

        <p>
          Lorem ipsum dolor sit amet
          consectetur adipisicing elit.
          Ipsa voluptatem voluptatibus
          temporibus nemo amet tempore
          aperiam pariatur laboriosam
          qui vel!
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .faqs-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .faqs-container .questions-container {
    box-shadow: 0 4px 8px -3px var(--color-tabel-text);
    padding-left: 3rem;
  }

  p {
    color: var(--color-bread-text);
  }

  span {
    color: var(--color-bread-text);
  }
  .faqs-container h2 {
    padding: 4px 32px;
    font-size: 28px;
  }

  .faqs-container .faq-header {
    display: flex;
    background: none;

    align-items: center;
    position: relative;
    cursor: pointer;
  }

  .faqs-container .faq-header .open,
  .faqs-container .faq-header .close {
    position: absolute;
    right: 0;
    padding: 0 32px;
    font-size: 22px;
    font-weight: bold;
    transform: translateY(-8px);
    opacity: 0;
    transition: all 500ms;
  }

  .faqs-container
    .faq-header
    .open.active,
  .faqs-container
    .faq-header
    .close.active {
    opacity: 1;
    transform: translateY(0);
  }

  .faqs-container .content {
    padding: 0 32px;

    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms;
  }

  .faqs-container .content.active {
    max-height: 600px;
  }
</style>

<script>
  const faqHeaders =
    document.querySelectorAll(
      ".faqs-container .faq-header"
    );

  faqHeaders.forEach((header, i) => {
    header.addEventListener(
      "click",
      () => {
        header.nextElementSibling.classList.toggle(
          "active"
        );

        const open =
          header.querySelector(".open");
        const close =
          header.querySelector(
            ".close"
          );

        if (
          header.nextElementSibling.classList.contains(
            "active"
          )
        ) {
          open.classList.remove(
            "active"
          );
          close.classList.add("active");
        } else {
          open.classList.add("active");
          close.classList.remove(
            "active"
          );
        }
      }
    );
  });
</script>
