---
import "../styles/global.css";
---

<section>
  <!-- ÅBNINGSTIDER -->

  <div class="tider">
    <p class="footer">Åbningstider</p>
    <p class="bread-bold">
      Træningscentre
    </p>
    <p class="bread">
      Mandag - Torsdag kl. 6:30 til
      22:00 <br /> Fredag kl. 6:30 til 20:00<br
      />
      Lørdag: kl. 8:00 til 18:00<br /> Søndag
      kl. 8:00 til 19:00
    </p>
    <p class="link">
      Se åbningstider i julen
    </p>
  </div>

  <!-- KONTAKT -->
  <div class="kontakt">
    <p class="footer">Kontakt</p>
    <div>
      <!-- Vesterbro -->
      <p class="bread-bold">
        Form Fysisk Vesterbro
      </p>
      <p class="bread">
        Vesterbrogade 95A 1620 København
        V <br /> E-mail: <a
          href="info@formvesterbro"
          >info@formvesterbro</a
        >
        <br /> Telefon: <a
          href="tel:+ 3331 2220"
        >
          3331 2220</a
        >
      </p>
    </div>
    <!-- amagerbro -->
    <div>
      <p class="bread-bold">
        Form Fysisk Amagerbro
      </p>
      <p class="bread">
        Amager Strandvej 56 2300
        københavn S <br /> E-mail: <a
          href="info@formamagerbro"
          >info@formamagerbro</a
        >
        <br /> Telefon: <a
          href="tel:+ 3331 2220"
        >
          3331 2220</a
        >
      </p>
    </div>
    <!-- østerbro -->
    <div>
      <p class="bread-bold">
        Form Fysisk Østerbro
      </p>
      <p class="bread">
        Østerbrogade 37 2100 København Ø
        S <br /> E-mail: <a
          href="info@formoesterbrobro"
          >info@formoesterbro</a
        >
        <br />Telefon: <a
          href="tel:+ 3331 2220"
        >
          3331 2220</a
        >
      </p>
    </div>
  </div>

  <!-- HJÆLP -->
  <div class="help">
    <p class="footer">Hjælp</p>
    <a class="link" href=" "
      >Lokationer</a
    >
    <a class="link" href=""
      >Hvem er vi</a
    >
    <a class="link" href="">FAQ</a>
    <a class="link" href=""
      >Privatlivspolitik</a
    >
  </div>

  <img
    src="public/img/logo.svg"
    alt=""
  />
</section>

<style>
  section {
    display: flex;
    justify-content: space-evenly;
    background-color: var(
      --color-footer-background
    );
    color: var(--color-footer-text);
  }
  .help {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  img {
    height: 4rem;

    position: absolute;
  }
</style>
