---
import "../styles/global.css";

const {
  holdbillede,
  holdtitel,
  holdfarve,
  power,
  seniorhold,
  dansehold,
  spinning,
  styrkekondition,
  bodymind,
  specialhold,
} = Astro.props;
---

<article>
  <div
    class="holdfarve"
    data-variant={holdfarve}
  >
    {
      styrkekondition == true && (
        <div class="styrkekondition" />
      )
    }
    {
      power == true && (
        <div class="powerfarve" />
      )
    }

    {
      dansehold == true && (
        <div class="dansehold" />
      )
    }
    {
      seniorhold == true && (
        <div class="seniorhold" />
      )
    }
    {
      bodymind == true && (
        <div class="bodymind" />
      )
    }
    {
      specialhold == true && (
        <div class="specialhold" />
      )
    }
    {
      spinning == true && (
        <div class="spinning" />
      )
    }
  </div>
  <div class="img_wrapper">
    <img
      src="public/img/placeholder.webp"
      alt=""
      {holdbillede}
    />
  </div>
  <figcaption
    class="holdtitel bread-bold"
  >
    {holdtitel}
  </figcaption>
</article>

<style>
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    max-width: 17rem;
    max-height: 10rem;
  }
  .holdfarve {
    width: 1.5rem;
    position: absolute;
  }
  .holdtitel {
    grid-row-start: 2;
    position: absolute;
  }

  .img_wrapper {
    display: flex;
    max-width: 17rem;
    max-height: 10rem;
    object-fit: contain;
  }
  img {
    object-fit: contain;
  }

  /*----------------------- HOLDFARVER PÅ KNAPKATEGORIER -----------------*/

  .powerfarve {
    background-color: var(
      --color-holdfarve-power
    );
    height: 1rem;
    width: 1rem;
    border-radius: 0px 0px 0px 10px;
  }
  .styrkefarve {
    background-color: var(
      --color-holdfarve-styrkekondition
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
  .bodymindfarve {
    background-color: var(
      --color-holdfarve-bodymind
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
  .spinningfarve {
    background-color: var(
      --color-holdfarve-spinninghold
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
  .danseholdfarve {
    background-color: var(
      --color-holdfarve-dansehold
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
  .seniorholdfarve {
    background-color: var(
      --color-holdfarve-seniorhold
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }

  .specialholdfarve {
    background-color: var(
      --color-holdfarve-specialhold
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
</style>
