---
import "../styles/global.css";
const { titel, beskrivelse, src } =
  Astro.props;
---

<div class="card">
  <div class="imagebox">
    <img {src} alt="holdfarve" />
  </div>
  <div class="content">
    <h3>{titel}</h3>
    <p class="bread">
      {beskrivelse}
    </p>
  </div>
</div>

<style>
  .card {
    display: flex;

    gap: 2rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .imagebox {
    background-color: aqua;
    height: 11rem;
    width: 11rem;
    border-radius: 10px;
    background-color: var(
      --color-info-boxone
    );
  }

  img {
    width: 10rem;

    top: -25%;
    position: relative;
  }

  .content {
    width: 17rem;
    color: var(
      --color-footer-background
    );
  }

  h1,
  h3,
  p {
    margin: 0;
  }
</style>
