---
import "../styles/global.css";
---

<div class="card">
  <div class="imagebox">
    <img src="" alt="" />
  </div>
  <div class="content">
    <h3>Holdtyper</h3>
    <p class="bread">
      Lorem ipsum dolor sit amet
      consectetur adipisicing elit.
      Ratione sequi rem fugit modi
      nesciunt ea cumque nemo id
      exercitationem.
    </p>
  </div>
</div>

<style>
  .card {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .imagebox {
    background-color: aqua;
    height: 11rem;
    width: 11rem;
    border-radius: 10px;
    background-color: var(
      --color-info-boxone
    );
  }

  .content {
    width: 17rem;
  }

  h1 {
    margin: 0;
  }
  h3 {
    margin: 0;
  }
  p {
    margin: 0;
  }
</style>
