---
import "../styles/global.css";
---

<article>
  <div class="medlem">
    <a class="font-btn" href="/medlem"
      >BLIV MEDLEM</a
    >
  </div>
</article>

<style>
  .medlem {
    display: flex;
    /* width: 12rem;
    height: 6; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(
      --color-footer-text
    );

    border-radius: 10px;
    justify-content: center;
  }
  a {
    list-style: none;
    text-decoration: none;
    color: var(
      --color-footer-background
    );
  }
</style>
