---
import "../styles/global.css";
---

<div class="img_wrapper">
  <div class="image">
    <img
      src="public/img/placeholder.webp"
      alt=""
    />

    <img
      src="public/img/placeholder.webp"
      alt=""
    />
    <img
      src="public/img/placeholder.webp"
      alt=""
    />
  </div>
</div>
<style>
  .img_wrapper {
    height: 100vh;
    display: grid;
  }

  image {
    height: fit-content;
  }
  img {
    height: 100%;
  }
</style>
